@font-face {
  font-family: "iconfont"; /* Project id 5191898 */
  src: url('iconfont.woff2?t=1780845515661') format('woff2'),
       url('iconfont.woff?t=1780845515661') format('woff'),
       url('iconfont.ttf?t=1780845515661') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankaixiangshang:before {
  content: "\e76d";
}

.icon-zhankai:before {
  content: "\e617";
}

.icon-tongji:before {
  content: "\e60c";
}

.icon-jieya:before {
  content: "\e671";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e62d";
}

.icon-folder-zip-line:before {
  content: "\e798";
}

.icon-tupian:before {
  content: "\e63a";
}

.icon-jiemijieya:before {
  content: "\e689";
}

.icon-yasuobao:before {
  content: "\e626";
}

.icon-xiaoyan:before {
  content: "\e631";
}

